*{
    box-sizing: border-box;
}
p, h1, h2, h3{
    margin: 0;
    padding: 0;
}
p{
    color: black;
}
body{
    margin: 0 auto;
    font-size: 18px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    min-width: 1200px;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: black;
}
.menu-catalog{
    margin-left: 96px;
    margin-right: 96px;
}
.header{
    background: #fff;
    position: relative;
    min-height: 720px;
}
.container{
    width: 944px;
    margin-left: auto;
    margin-right: auto;
}
ul{
    padding-inline-start: 0;
}
.nav{
    position: relative;
    display: flex;
    align-items: center;
    color: black;
}
.menu{
    text-decoration: none;
    color: black;
    display: flex;
    margin-left: 170px;
}
.login{
    margin-left: 222px;
    border: 1px solid #000;
}
.enter{
    margin: 0;
    padding: 6px 21px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: black;
}
.in{
    margin-top: 59px;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}
.form__items1{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #C4C4C4;
    width: 400px;
}
.form__items2{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #C4C4C4;
    width: 400px;
}

input{
    margin-top: 28px;
    padding-top: 8px;
    padding-left: 21px;
    border: 1px solid #7D86DC;
    width: 375px;
    height: 40px;
}
.registration{
    margin-top: 28px;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}
.header__content1{
    width: 506px;
}
input[type="number"]{
    width: 135px;
    height: 40px;
    margin-top: 28px;
    padding-top: 8px;
    padding-left: 21px;
    border: 1px solid #7D86DC;
}
.form{
    padding-bottom: 190px;
}
.kick{
    display: flex;
}
.btn__reg{
    background: #7D86DC;
    margin-left: 21px;
    margin-top: 28px;
    width: 220px;
    height: 40px;
}
.reg{
    font-weight: normal;
    color: white;
    font-weight: normal;
    font-size: 12px;
    margin-left: 22px;
    padding-top: 12px;
    line-height: 15px;

}




.footer{
    background: #4F4F4F;
}
.footer__content{
    display: flex;
    padding-top: 23px;
}
.menu1{
    margin-left: 49px;
    display: flex;
}
.nav1{
    display: block;
}
.nav2{
    display: block;
    margin-left: 38px;
}
.nav3{
    display: block;
    margin-left: 38px;
}
.media{
    display: flex;
    margin-top: 65px;
    padding-bottom: 33px;
    justify-content: center;
}
.media__item{
  padding-left: 23px;
}
.nav1_header{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #c5c5c5;
}
.nav2__header{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #c5c5c5;
}
.nav3_header{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #c5c5c5;
}
.menu1 li{
    font-weight: normal;
    font-size: 12px;
    padding-bottom: 5px;
}
.img__login{
    margin-top: 120px;
    margin-left: -30px;
}
.header__coniento{
    display: flex;
}
.subscribe{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 233px;
  margin-left: auto;
}
.subscribe__btn{
  margin-top: 14px;
  border: 1px solid #000;
}
.subscribe__enter{
  margin: 0px;
  padding: 11px 68px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: black;
}
.sub__form input{
  margin-top: 0px;
  border: border: 1px solid #fff;
  width: 233px;
  height: 40px;
  padding-left: 95px;
}
.subscribe__text{
  text-align: center;
  margin-top: 14px;
  font-weight: normal;
font-size: 14px;
line-height: 17px;
}
