*{
  box-sizing: border-box;
}
p, h1, h2, h3{
  margin: 0;
  padding: 0;
}
p{
  color: black;
}
body{
  margin: 0 auto;
  font-size: 18px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  min-width: 1200px;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: black;
}
.menu-catalog{
  margin-left: 96px;
  margin-right: 96px;
}
.header{
  background: white;
  min-height: 720px;
}
.container{
    width: 944px;
    margin-left: auto;
    margin-right: auto;
}
ul{
  padding-inline-start: 0px;
}
.nav{
  position: relative;
  display: flex;
  align-items: center;
  color: black;
}
.menu{
  text-decoration: none;
  color: black;
  display: flex;
  margin-left: 170px;
}
.login{
  margin-left: 222px;
  border: 1px solid #000;
}
.enter{
  margin: 0;
  padding: 6px 21px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: black;
}
.content{
  display: flex;
  margin-top: 60px;
}
.rules{
  display: block;
  margin-top: 12px;
  width: 287px;
}
.description{
  width: 498px;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}
.description-text{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: 30px;
  margin-top: 15px;
}
.rules__name{
  padding-bottom: 10px;
  margin-left: 22px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.rules__name1{
  padding-bottom: 10px;
  margin-left: 22px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin-top: 32px;
}
.line{
  width: 217px;
  height: 1px;
  background: #7D86DC;
}
.download{
  margin-top: 30px;
  margin-left: 30px;
}
.footer{
  background: #4F4F4F;
}
.footer__content{
  display: flex;
  padding-top: 23px;
}
.menu1{
  margin-left: 49px;
  display: flex;
}
.nav1{
  display: block;
}
.nav2{
  display: block;
  margin-left: 38px;
}
.nav3{
  display: block;
  margin-left: 38px;
}

.media{
  display: flex;
  margin-top: 65px;
  padding-bottom: 33px;
  justify-content: center;
}
.nav1_header{
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #c5c5c5;
}
.nav2__header{
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #c5c5c5;
}
.nav3_header{
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #c5c5c5;
}
.menu1 li{
  font-weight: normal;
  font-size: 12px;
  padding-bottom: 5px;
}
.subscribe{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 233px;
  margin-left: auto;
}
.subscribe__btn{
  margin-top: 14px;
  border: 1px solid #000;
}
.subscribe__enter{
  margin: 0px;
  padding: 11px 68px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: black;
}
.sub__form input{
  margin-top: 0px;
  border: border: 1px solid #fff;
  width: 233px;
  height: 40px;
  padding-left: 95px;
}
.subscribe__text{
  text-align: center;
  margin-top: 14px;
  font-weight: normal;
font-size: 14px;
line-height: 17px;
}








.media__item{
  padding-left: 23px;
}
